@{
  Layout = "_Layout";
}
<div class="fluid-container">
  @Html.Partial("SiteHeader")
</div>

<div class="container">
  @Html.Partial("Index/CuisineList")
  @Html.Partial("Index/AddCuisineForm")
</div>
