body, html {
  height: 100%;
  background-color: #d9534f;
}

.bg {
  /*background-image: url(../img/gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;*/
}

.jumbotron {
  background-image: url(../img/banner-bg.png);
  background-size: cover;
  background-position: 0px 80%;
  height: 200px;
  margin-bottom: 0px;
}

.jumbotron h1 {
  position: relative;
  top: -40px;
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 80px;
}

.container {
  background-color: white;
  height: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.well {
  /*background-image: url(../img/fallcolor.jpeg);
  background-size: cover;
  background-repeat: no-repeat;*/
}

.cuisine-entry {
  font-size: 30px;
}

label {
  font-size: 16px;
}

.btn {
  font-size: 16px;
}

hr {
  border: 1px solid lightgrey;
  height: 0px;
}

a {
  color: #d9534f;
}

a:hover {
  color: #ad3430;
}
