.jumbotron {
  background-image: url(../img/banner-bg.png);
  background-size: cover;
  background-position: 0px 240px;
  height: 200px;
}

.jumbotron h1 {
  position: relative;
  top: -35px;
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 80px;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url(../img/gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.cuisine-entry {
  font-size: 30px;
}
