<h2>Add another cuisine category:</h2>
<form action="/cuisines/add" method="post">
  <div class="form-group">
    <label for="cuisine-name">Name:</label>
    <input class="form-control" id="cuisine-name" name="cuisine-name" type="text" required>
  </div>
  <button class="btn btn-danger" type="submit" name="submit-button">Add</button>
</form>
